/target
/.direnv
result*
/coverage/
/**/*.profraw
/**/*.profdata
db.sqlite3
node_modules

# moon
.moon/cache
.moon/docker

# typescript
# The `outDir` for declarations
lib/
# Build cache manifests
*.tsbuildinfo
